@use "../abstract" as *;

$col-sm-size:202px;
$col-md-size:30%;
$col-lg-size:calc(100% - $col-sm-size - $col-md-size);


.col-sm{
    float: left;
    height: calc(100vh - 60px);
    width: $col-sm-size;
}
.col-md{
    float: left;
    height: calc(100vh - 60px);
    width: $col-md-size;
}
.col-lg{
    float: left;
    height: calc(100vh - 60px);
    width:$col-lg-size;
}

.row{
    width: 100%;
    .col{
            height: 20px;
            width: 70%;
            float: left;
            &:last-child{
                float: left;
                width: 30%;
            }
    }
    @extend %clearfix;
}


.fl-3-col{
    width: 100%;
    .col-sm{
        float: left;
        width: 20%;
        height: auto;
    }
    .col-md{
        float: left;
        width: 40%;
        height: auto;
    }
    .col-lg{
        float: left;
        width: 40%;
        height: auto;
    }
}