@use "../abstract" as *;
@use "../global" as *;

@import '~quill/dist/quill.snow.css';

// editor container
#editor{
    width: 100%;
    height: 450px;
    border-color: $shadow-clr;
    font-family: $primary-font;
}

.ql-editor{
    scrollbar-width:thin;
    scrollbar-color: $scrollbar-clr  white;
    &::-webkit-scrollbar{
        width: 8px;
        background-color: white;
    }
    &::-webkit-scroll-track{
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: $scrollbar-clr;
    }
}

// toolbar
.ql-toolbar.ql-snow{
    font-family: $primary-font;
    border-color: $shadow-clr;
}

.ql-snow .ql-formats span {
    color: $text-clr-primary;
}

.ql-snow .ql-stroke{
    stroke: $text-clr-primary;
}

// fonts
.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='opensans']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='opensans']::before
{
  content: 'Open Sans';
  font-family: $primary-font;
}

.ql-font-opensans{
    font-family: $primary-font;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='']::before
{
  content: 'San Serif';
  font-family: sans-serif
}

.ql-font-sanserif{
    font-family: sans-serif;
}