@use "../abstract" as *;

.link-group{
    padding: 2px;
    li{
        position: relative;
        a{
            display: inline-block;
            @include button($width:100%,$height:auto,$background-color:transparent,$color:$btn-clr-secondary,$font-size:14px);
            padding: 10px 25px;
            cursor: pointer;
            text-align: left;
            i{
                margin-right: 12px;
            }
            &.active{
                color: $btn-clr-secondary-active;
                span{
                    color: $btn-clr-secondary-active;
                }
            }
            &:focus{
                // outline: none;
                color: $btn-clr-secondary-active;
                span{
                    color: $btn-clr-secondary-active;
                }
            }
            span{
                font-size: 14px;
                color: $btn-clr-secondary;
            }
        }
        .dropdown-link{
            i{
                margin-left: 40px;
                font-size: 8px;
                padding: 2px;
                &:hover{
                    color: $white;
                    background-color:$btn-clr-secondary;
                }
            }
        }

        &:hover{
            background-color:$dark-07;
            a{
                color: $btn-clr-secondary-active;
            }
        }
        &:focus{
            outline: 1px solid;
        }
    }

}

.icon{
    display: inline-block;
    @include size(8px,8px,2px);
    border: 3px solid;
    margin-right:12px;
}
.personal{
    border: 3px solid $personal-clr;
}
.clients{
    border: 3px solid $clients-clr;
}
.family{
    border: 3px solid $family-clr;
}
.friends{
    border: 3px solid $friends-clr;
}
.archives{
    border: 3px solid $archives-clr;
}
