@use "placeholder" as *;
@use "variables" as *;
@use "../global" as *;

@mixin size($width:auto,$height:auto,$border-radius:0){
    width: $width;
    height: $height;
    border-radius: $border-radius;
}

@mixin font($font-family,$font-size,$font-weight,$font-style,$text-transform){
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: $font-style;
    text-transform: $text-transform;
}

@mixin color($background-color:$primary-color,$color:$white,$border:none){
    background-color: $background-color;
    color:$color;
    border:$border;
}

@mixin button($width:200px,$height:50px,$rounded:0,
              $background-color:$primary-color,$color:$white,$border:none,
              $font-family:$primary-font,$font-size:16px,$font-weight:normal,$font-style:normal,$text-transform:none){
    @include size($width,$height,$rounded);
    @include color($background-color,$color,$border);
    @include font($font-family,$font-size,$font-weight,$font-style,$text-transform);
    transition:background-color 300ms ease;
    &:hover{
        background-color: darken($background-color,12%);
    }
}