


$black:#000000;
$white:#ffffff;
$white-three:#ededed;
$steel:#8e8e93;
$steel-two:#81869f;
$greyish:#b4b0af;
$bright-blue:#007aff;
$gunmetal:#4c4f59;
$vivid-purple:#9200ff;
$pumkin-orange:#ff7100;
$ugly-yellow:#d0db00;
$neon-blue:#00dcff;
$purplish-grey:#6f6e74;
$purpley-grey:#8b8a8f;
$battleship-grey:#70727a;
$battleship-grey-three:#6b6e7f;
$battleship-grey-four:#6f6f75;
$cool-grey:#a3a3a8;
$cool-grey-three:#8f929d;
$pale-grey:#eceff3;
$slate-grey:#65676e;
$dark-50:rgba(0, 0, 0,0.5);
$dark-07:rgba(0, 0, 0, 0.07);
$color-20:#6b6e7f;


// text-colors
$thematic-break:$pale-grey;


$search-icon-clr:$greyish;



$notification-text-clr:$steel;
$text-clr-primary:$battleship-grey-three;



$btn-clr-primary:$bright-blue;
$btn-clr-secondary:$battleship-grey;
$btn-clr-secondary-active:$gunmetal;
$btn-clr-tertiary:$battleship-grey-three;
$btn-clr-quatenary:$battleship-grey-four;

$link-clr-primary:$steel;
$link-clr-secondary:$steel-two;
$link-clr-active:$gunmetal;

$msg-highlight-clr:$bright-blue;
$msg-notification-clr:$dark-07;
$msg-title-clr:$gunmetal;
$msg-sender-clr-primary:$cool-grey;
$msg-sender-clr-secondary:$cool-grey-three;
$msg-text-color:$slate-grey;


$personal-clr:$vivid-purple;
$clients-clr:$pumkin-orange;
$family-clr:$ugly-yellow;
$friends-clr:$neon-blue;
$archives-clr:$purplish-grey;

$msg-icon-clr-primary:$purpley-grey;
$msg-icon-clr-secondary:$dark-50;



$border-clr-primary:$white-three;
$shadow-clr:$dark-07;