@use "../abstract" as *;


.dropdown{
    @include size(auto,23px);
    max-width: 150px;
    position: relative;
    display: inline-block;
    padding: 5px 10px 3px 12px;
    border-radius: 12px;
    box-shadow: 0 0 0 1px $shadow-clr;
    font-size: 12px;
    color: $dd-text-clr;
    cursor: pointer;
    i{
        position: relative;
        top: -6px;
        margin-left: 4px;
        padding: 2px;
        font-size: 8px;
    }
    &:hover{
        background-color: $shadow-clr;
    }
    .dropdown-text-container{
        display: inline-block;
        height: 16px;
        max-width: 100px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}


.dropdown-list{
    width: 200px;
    max-height: 172px;
    position: absolute;
    top: 60px;
    left: 115px;
    background-color: $white;
    z-index: 50;
    box-shadow: 0px 2px 10px 2px $shadow-clr;
    border-radius: 10px;
    overflow-y: auto;
    scrollbar-width:thin;
    scrollbar-color: $scrollbar-clr  $white;
    &::-webkit-scrollbar{
        width: 8px;
        background-color: $white;
    }
    &::-webkit-scroll-track{
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: $scrollbar-clr;
    }
    li{
        background-color: $white;
        width: 100%;
        a{
            display:block;
            width: 100%;
            padding: 10px;
            font-size: 13px;
            color: $dd-text-clr;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:hover{
                background-color: $shadow-clr;
            }
        }
    }
    li.active{
        a{
            color: $dd-text-clr-active;
        }
    }
}