@use "../abstract" as *;

.search-bar{
    @include size(294px,30px);  
    position: relative;
    button{
        height: 100%;
        position: absolute;
        border: none;
        background-color: transparent;
        top: 50%;
        transform:translateY(-50%);
        padding: 0;
    }
    .icon-btn{
        left: 0;
        .fa-magnifying-glass{
            color: $search-icon-clr;
            font-size: 12px;
            margin-left: 6px;
        }
    }
    .dropdown-btn{
        left: 25px;
        .fa-chevron-down{
            font-size:8px;
            color: $search-icon-clr;
        }
    }

    input{
        @include size(100%,100%,15px);
        box-shadow: 0 0 0 1px $shadow-clr;
        padding: 0 20px 0 40px;
        border: none;
        &:focus{
            outline:none;
            border: 1px solid $greyish;
        }
    }

    .data-list{
        position: absolute;
        top: 30px;
        width: 100%;
        background-color: #fff;
        text-align: center;
        border: 1px solid;
        z-index: 10;
        li{
            padding: 10px 30px;
            cursor: pointer;
            &:hover{
                background-color: gray;
            }
        }
    }

}