@use "../abstract" as *;

.search-bar{
    @include size(294px,30px);  
    position: relative;
    button{
        @include size(20px,100%);
        position: absolute;
        border: none;
        background-color: transparent;
        top: 50%;
        transform:translateY(-50%);
    }
    .search-btn{
        left: 0;
        padding-left:9px;
        .fa-magnifying-glass{
            color: $search-icon-clr;
            font-size: 12px;
        }
    }
    .dropdown-btn{
        left: 20px;
        .fa-chevron-down{
            font-size:8px;
            color: $search-icon-clr;
        }
    }

    input{
        @include size(100%,100%,15px);
        box-shadow: 0 0 0 1px $shadow-clr;
        padding: 0 20px 0 40px;
        border: none;
        &:focus{
            outline:none;
            border: 1px solid $greyish;
        }
    }

    .data-list{
        position: absolute;
        top: 30px;
        width: 100%;
        background-color: #fff;
        text-align: center;
        border: 1px solid $border-clr-primary;
        z-index: 10;
        font-size: 15px;
        color: $text-clr-primary;
        li{
            a{
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 100%;
                display: inline-block;
                padding: 10px 30px;
                cursor: pointer;
                &:hover{
                    background-color: $shadow-clr;
                }
            }
        }
    }

}