$col-sm-size:202px;
$col-md-size:30%;
$col-lg-size:calc(100% - $col-sm-size - $col-md-size);


.col-sm{
    float: left;
    height: 100vh;
    width: $col-sm-size;
    padding-top: 80px;
}
.col-md{
    float: left;
    height: 100vh;
    width: $col-md-size;
    padding-top: 80px;
}
.col-lg{
    float: left;
    height: 100vh;
    width:$col-lg-size;
    padding-top: 80px;
}