
.col-sm{
    float: left;
    height: 100vh;
    width: 202px;
    padding-top: 80px;
}
.col-md{
    float: left;
    height: 100vh;
    width: 30%;
    padding-top: 80px;
}
.col-lg{
    float: left;
    height: 100vh;
    width: calc(70% - 202px);
    padding-top: 80px;
    background-color: burlywood;
}