@use "../abstract" as *;

$col-sm-size:202px;
$col-md-size:30%;
$col-lg-size:calc(100% - $col-sm-size - $col-md-size);


.col-sm{
    float: left;
    height: calc(100vh - 60px);
    width: $col-sm-size;
    padding-top: 20px;
}
.col-md{
    float: left;
    height: calc(100vh - 60px);
    width: $col-md-size;
}
.col-lg{
    float: left;
    height: calc(100vh - 60px);
    width:$col-lg-size;
    padding-top: 20px;
}
