@use "../abstract" as *;


header{
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $white;
    z-index: 100;
}
.main-nav{
    height: 60px;
    padding: 14px 22px 15px 26px;
    .col{
        float: left;
        width: 33.33%;
    }
    .brand{
        float: left;
        z-index: 1;
        .brand-img{
            display: inline-block;
            @include size(15px,20px, 0 0 20px 20px);
            background-color: $black;
        }
        .brand-text{
            font-size: 20px;
            color: $black;
        }
    }
    .title{
        display: inline-block;
        font-size: 16px;
        color: $notification-text-clr;
        padding-top: 5px;
    }
    .notification{
        display: inline-block;
        font-size: 16px;
        color: $notification-text-clr;
        padding-top: 5px;
    }
    .search-bar{
        float: right;
    }
    @extend %clearfix;
}

