@use "../abstract" as *;

.mail-nav{
    overflow-y:auto;
    margin-top: 60px;
    margin-left: 202px;
    .mail-notification{
        display: block;
        position: relative;
        padding: 22px 16px 22px 20px;
        border-bottom: 1px  solid $white-three;
        height: 90px;
        background-color: $mail-nav-bg;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        cursor: pointer;
        &:last-child{
            border: none;
        }
        .heading{
            float: left;
            font-size: 15px;
            color: $mail-title-clr;
        }
        .time{
            float: right;
            font-size: 12px;
            color:$mail-title-clr;
        }
        .title{
            font-size: 12px;
            color: $mail-sender-clr-primary;
            float: left;
            margin-top: 10px;
        }
        @extend %clearfix;
        &:hover{
            background-color: $white-three;
        }
    }
    .mail-notification.active{
        background-color: $mail-notification-active-clr;
        &::before{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 4px;
            background-color:$mail-highlight-clr;
        }
        &:hover{
            background-color: $white-three;
        }
    }
    @extend %clearfix;
}

.mail-info{
    float: right;
    margin-top: 8px;
    span{
        display: inline-block;
        margin-left: 8px;
            i{
                color: $dark-50;
                font-size: 14px;
            }
    }
    .filter-icon{
        display: inline-block;
        @include size(8px,8px,4px);
        background-color: $personal-clr;
            }
            .personal{
                background-color: $personal-clr;
            }
            .clients{
                background-color: $clients-clr;
            }
            .family{
                background-color: $family-clr;
            }
            .friends{
                background-color: $friends-clr;
            }
            .archives{
                background-color: $archives-clr;
    }
}