@use "../abstract" as *;


header{
    position:fixed;
    width: 100%;
    background-color: #fff;
}

.main-nav{
    padding: 20px 22px 20px 26px;
    .col{
        float: left;
        width: 33.33%;
    }
    .brand{
        float: left;
        .brand-img{
            display: inline-block;
            @include size(15px,20px, 0 0 20px 20px);
            background-color: $dark;
        }
        .brand-text{
            font-size: 20px;
        }
    }
    .notification{
        display: inline-block;
        font-size: 16px;
        color: $primary-color;
        padding-top: 5px;
    }
    .search-bar{
        float: right;
    }
    @extend %clearfix;
}