@use "../abstract" as *;
.side-nav{
    padding-top: 20px;
    position: fixed;
    top: 60px;
    z-index: 50;
    background-color: $white-08;
    overflow-y: auto;
    .settings{
        position:sticky;
        width: 194px;
        margin-top: 150px;
        bottom:0;
        background-color: $white;
        @extend %clearfix;
        a{
            @include size(50%,60px);
            position: relative;
            float: left;
            color: $btn-clr-quatenary;
            cursor: pointer;
            &:first-child{
                border-right: 1px solid $white-three;
            }
            &:hover{
                background-color: $dark-07;
            }
            i{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }
    }
    scrollbar-width:thin;
    scrollbar-color: $scrollbar-clr  white;
    &::-webkit-scrollbar{
        width: 8px;
        background-color: white;
    }
    &::-webkit-scroll-track{
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: $scrollbar-clr;
    }
}